<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net47" />
  <package id="Accord.Audio" version="3.8.0" targetFramework="net47" />
  <package id="Accord.DirectSound" version="3.8.0" targetFramework="net47" />
  <package id="Accord.MachineLearning" version="3.8.0" targetFramework="net47" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net47" />
  <package id="Accord.Statistics" version="3.8.0" targetFramework="net47" />
  <package id="CNTK.CPUOnly" version="2.7.0" targetFramework="net47" />
  <package id="CNTK.Deps.MKL" version="2.7.0" targetFramework="net47" />
  <package id="CNTK.Deps.OpenCV.Zip" version="2.7.0" targetFramework="net47" />
  <package id="Keras.NET" version="0.6.0" targetFramework="net47" />
  <package id="MathNet.Filtering" version="0.6.0" targetFramework="net47" />
  <package id="MathNet.Numerics" version="4.8.1" targetFramework="net47" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net47" />
  <package id="NAudio" version="1.9.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net47" />
  <package id="Numpy.Bare" version="3.7.1.2" targetFramework="net47" />
  <package id="NWaves" version="0.9.1" targetFramework="net47" />
  <package id="Python.Runtime.NETStandard" version="3.7.0" targetFramework="net47" />
  <package id="SharpDX" version="4.2.0" targetFramework="net47" />
  <package id="SharpDX.DirectSound" version="4.2.0" targetFramework="net47" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net47" />
  <package id="System.CodeDom" version="4.5.0" targetFramework="net47" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net47" />
  <package id="System.IO.FileSystem.AccessControl" version="4.5.0" targetFramework="net47" />
  <package id="System.Memory" version="4.5.3" targetFramework="net47" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net47" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net47" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net47" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net47" />
  <package id="System.Security.Principal.Windows" version="4.5.1" targetFramework="net47" />
  <package id="System.Threading.Tasks.Dataflow" version="4.9.0" targetFramework="net47" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net47" />
</packages>